projects/donate/index.html
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Codepenassets Funding</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="/css/style.index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div class="background"></div>
  <div class="main">
    <div class="intro"><img src="https://hostmystuff.ml/hosting/11285/ArrayCodepenimg.png" class="logo">
      <h1>Codepenassets</h1><img src="https://g2.iggcdn.com/assets/site/brand/IGG_Logo_Frame_GOgenta_RGB-2-acdbed8c9b7f24c740e03f2e3fd13f60750a6ccb3817414df4f00a90d518d960.png" class="indiegogoLogo">
    </div>
    <div class="whyIStarted">
      <h1>Why i create Codepenassets?</h1>
      <p>
        Before i use Codepen a lot,just like many other users,back then we can still user Imgur to host our image,but 
        for some reason,we can't do that any more?when we try to use Imgur,it will just pop up a 403 error code,so i 
        designed to create a website is for hosting Codepen assets,but one day i update a new assets system inside my 
        website,i just out,if the user request too many from the server,it will pop a 508 error code,by that time i keep 
        finding way to soft this problem,and eventually i know i need to change my hosting company,but i don't got money 
        to pay for that,But now if you guys can back me up a little,i can change my hosting company to Dreamhost,and up 
        upgrade my CloudFlare plane to pro,and register a AWS account,super charge the user experience without they paying 
        a sign dollar. Thank you
        
      </p>
    </div>
    <div class="socialIcons">
      <div class="twitter"><a href="https://twitter.com/felixfong227" class="fa fa-twitter"></a>
        <p>My twitter</p>
      </div>
      <div class="mysite"><a href="https://felixfong227.ml" class="myFace"><img src="https://avatars3.githubusercontent.com/u/13918481?v=3"></a>
        <p>My website</p>
      </div>
    </div>
  </div>
</body>

projects/donate/index.jade
doctype html
head
  meta(charset="utf-8")
  title Codepenassets Funding
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  script(src='js/script.js')
  link(rel="stylesheet", href="/css/style.index.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
  
  
  
body

  .background
  .main
  
    .intro
      img.logo(src="https://hostmystuff.ml/hosting/11285/ArrayCodepenimg.png")
      h1 Codepenassets
      img.indiegogoLogo(src='https://g2.iggcdn.com/assets/site/brand/IGG_Logo_Frame_GOgenta_RGB-2-acdbed8c9b7f24c740e03f2e3fd13f60750a6ccb3817414df4f00a90d518d960.png')
  
    .whyIStarted
      h1 Why i create Codepenassets?
      p.
        Before i use Codepen a lot,just like many other users,back then we can still user Imgur to host our image,but 
        for some reason,we can't do that any more?when we try to use Imgur,it will just pop up a 403 error code,so i 
        designed to create a website is for hosting Codepen assets,but one day i update a new assets system inside my 
        website,i just out,if the user request too many from the server,it will pop a 508 error code,by that time i keep 
        finding way to soft this problem,and eventually i know i need to change my hosting company,but i don't got money 
        to pay for that,But now if you guys can back me up a little,i can change my hosting company to Dreamhost,and up 
        upgrade my CloudFlare plane to pro,and register a AWS account,super charge the user experience without they paying 
        a sign dollar. Thank you
        
    .socialIcons
      
      .twitter
        a.fa.fa-twitter(href="https://twitter.com/felixfong227")
        p My twitter
      
      .mysite
        a.myFace(href="https://felixfong227.ml")
          img(src="https://avatars3.githubusercontent.com/u/13918481?v=3")
        p My website
      
  

  
